
{% load static %}






<html xmlns="http://www.w3.org/1999/xhtml" lang="fa" xml:lang="fa" dir="rtl">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1256" />
<meta http-equiv="Author" content="FourSun IT Engineers"><title>كارنامه تحصيلي</title>
<link rel="stylesheet" type="text/css" href="http://cyber4.qiau.ac.ir:80/iau/framework/skins/default/default.css" />
<link rel="stylesheet" type="text/css" href="http://cyber4.qiau.ac.ir:80/iau/framework/skins/common.css" />
</head>
<body class="my-body" leftmargin="0" topmargin="0" oncontextMenu="return false;">
<script language="javascript" src="http://cyber4.qiau.ac.ir:80/iau/framework/jscripts/english.js"></script>
<script language="javascript" src="http://cyber4.qiau.ac.ir:80/iau/framework/jscripts/farsi.js"></script>
<script language="javascript" src="http://cyber4.qiau.ac.ir:80/iau/framework/jscripts/html-tag.js"></script>
<script language="javascript" src="http://cyber4.qiau.ac.ir:80/iau/framework/jscripts/general.js"></script>
<script language="javascript" src="http://cyber4.qiau.ac.ir:80/iau/framework/jscripts/languages.js"></script>





<form id="onePageWorkbookForm" method="post" action="/iau/OnePageWorkBook.do" class="my-form">
<input type="hidden" name="command" />

<input type="hidden" name="dispatch" />

<input type="hidden" name="wfMenuName" value="educational/onepageworkbook" />

<input type="hidden" name="wfStartDate" value="1620484913766" />

<input type="hidden" name="wfCurrentState" value="-2147483648" />

<input type="hidden" name="wfPageVersion" value="1620485655048" />


    <table border="0" width="100%" align="center" style="font-family: Tahoma; font-size:8pt; height:30;" dir="rtl" cellpadding="0" cellspacing="0">
        <tr>
            <td rowspan="4" width="5%">
                <img width="40px" hspace="0px" height="40px" vspace="0px" border="1" src="{% static 'img/StudentImage.gif' %}"/>
            </td>
            <td width="30%" align="right">
                <font size="1">شماره دانشجويي:
                980070152</font>
            </td>
            <td width="15%">
                <font size="1">نام پدر :
                ابراهيم</font>
            </td>
            <td width="15%"><font size="1">وضعيت تحصيلي:
                در حال تحصيل</font>
            </td>

            <td rowspan="4" width="10%" valign="top" align="center">
                <font size="1">دانشگاه آزاد اسلامي قزوين</font>
                <br>
                <font size="1">امور آموزشي</font>
                <br>
                <font size="1">دانشکده
                صنايع و مكانيك</font>
            </td>
            <td rowspan="4" align="left" width="5%">
               <img width="30px" border="0" src="http://cyber4.qiau.ac.ir:80/iau/framework/images//arm.jpg"/>
            </td>
        </tr>
        <tr>
            <td><font size="1">نام و نام خانوادگي:
            نگين رجبي</font></td>
            <td><font size="1">تاريخ تولد :
            1376/06/14</font></td>
            <td><font size="1">وضعيت نظام وظيفه :
                     </font>
            </td>
        </tr>
        <tr>
            <td><font size="1">رشته تحصيلي:
                مقطع كارشناسي ارشد ناپيوسته رشته علوم ومهندسي صنايع غذايي گرايش فناوري موادغذايي - تمام وقت  </font>
            </td>
            <td><font size="1">شماره شناسنامه :
               0020392354</font>
            </td>
        </tr>
        <tr>

        </tr>

    </table>



    <table width="100%" border="1" style="font-family: Tahoma; font-size:8pt; height:30;" dir="rtl" cellpadding="0" cellspacing="0">






            <tr style="border:1">


        <td width="20%" align="right" valign="top">

            <table border="1" align="center" width="100%"  arg1="98" style="font-family: Tahoma; font-size:8pt; height:30;" dir="rtl" cellpadding="0" cellspacing="0">
                <tr css="row-header">
                    <td align="center" width="3%"></td>
                    <td align="center" width="95%"><font size="1">نام درس</font></td>
                    <td align="center" width="3%"><font size="1">ع</font></td>
                    <td align="center" width="3%"><font size="1">ت</font></td>
                    <td align="center" width="10%"><font size="1">نمره</font></td>
                    <td align="center" width="3%"><font size="1 px">وضعيت نمره</font></td>
                </tr>



                <tr css="row-content" >
                    <td align="center">1</td>
                    <td align="right"><font size="1">روش تحقيق</font></td>
                    <td align="center"><font size="1">0</font></td>
                    <td align="center"><font size="1">2</font></td>
                    <td align="center"><font size="1">18.0</font></td>
                    <td align="right"><font size="1">عادي</font></td>
                </tr>


                <tr css="row-content2" >
                    <td align="center">2</td>
                    <td align="right"><font size="1">روشهاي نوين آزمايشگاهي</font></td>
                    <td align="center"><font size="1">1</font></td>
                    <td align="center"><font size="1">2</font></td>
                    <td align="center"><font size="1">18.0</font></td>
                    <td align="right"><font size="1">عادي</font></td>
                </tr>


                <tr css="row-content" >
                    <td align="center">3</td>
                    <td align="right"><font size="1">سمينار 1</font></td>
                    <td align="center"><font size="1">0</font></td>
                    <td align="center"><font size="1">1</font></td>
                    <td align="center"><font size="1">19.0</font></td>
                    <td align="right"><font size="1">عادي</font></td>
                </tr>

                <tr css="row-content" >
                    <td align="center">4</td>
                    <td align="right"><font size="1">باکتری های پروبيوتيک</font></td>
                    <td align="center"><font size="1">0</font></td>
                    <td align="center"><font size="1">2</font></td>
                    <td align="center"><font size="1">16.25</font></td>
                    <td align="right"><font size="1">عادي</font></td>
                </tr>

                <tr css="row-content" >
                    <td align="center">5</td>
                    <td align="right"><font size="1">خواص فیزیکی مواد غذایی</font></td>
                    <td align="center"><font size="1">0</font></td>
                    <td align="center"><font size="1">2</font></td>
                    <td align="center"><font size="1">15.0</font></td>
                    <td align="right"><font size="1">عادي</font></td>
                </tr>


                <tr css="row-content2" >
                    <td align="center">6</td>
                    <td align="right"><font size="1">صنايع غذايي پيشرفته</font></td>
                    <td align="center"><font size="1">0</font></td>
                    <td align="center"><font size="1">2</font></td>
                    <td align="center"><font size="1">10.5</font></td>
                    <td align="right"><font size="1">بي اثر در معدل</font></td>
                </tr>

            </table>


            <table align="center" border="1" title="" width="100%" style="font-family: Tahoma; font-size:8pt; height:30;" dir="rtl" cellpadding="0" cellspacing="0">
                <tr>
                    <td align="right" width="50%" >
                        <font size="1">ترم:</font>

                       <font size="1"> بهمن ماه 98</font>
                    </td>
                    <td align="right" width="50%"><font size="1">وضعيت ترم : قبول</font></td>
                </tr>
                <tr>
                    <td align="right" width="50%"><font size="1">ت و انتخابی: 13</font></td>
                    <td align="right" width="50%"><font size="1">امتیاز ترم: 186.5</font></td>
                </tr>
                <tr>
                    <td align="right" width="50%"><font size="1">معدل ترم : 14.34</font></td>
                    <td align="right" width="50%"><font size="1">ت و موثر : 11</font></td>
                </tr>
                <tr>
                    <td align="right" colspan="2"><font size="1">وضعيت شهريه: پرداخت كل شهريه</font></td>
                </tr>
            </table>
       </td>






        <td width="20%" align="right" valign="top">

            <table border="1" align="center" width="100%"  arg1="99" style="font-family: Tahoma; font-size:8pt; height:30;" dir="rtl" cellpadding="0" cellspacing="0">
                <tr css="row-header">
                    <td align="center" width="3%"></td>
                    <td align="center" width="95%"><font size="1">نام درس</font></td>
                    <td align="center" width="3%"><font size="1">ع</font></td>
                    <td align="center" width="3%"><font size="1">ت</font></td>
                    <td align="center" width="10%"><font size="1">نمره</font></td>
                    <td align="center" width="3%"><font size="1 px">وضعيت نمره</font></td>
                </tr>



                <tr css="row-content" >
                    <td align="center">7</td>
                    <td align="right"><font size="1">خواص شيميايي و کاري مواد غذايي</font></td>
                    <td align="center"><font size="1">0</font></td>
                    <td align="center"><font size="1">3</font></td>
                    <td align="center"><font size="1">14.5</font></td>
                    <td align="right"><font size="1">عادي</font></td>
                </tr>


                <tr css="row-content2" >
                    <td align="center">8</td>
                    <td align="right"><font size="1">سمينار 2</font></td>
                    <td align="center"><font size="1">0</font></td>
                    <td align="center"><font size="1">1</font></td>
                    <td align="center"><font size="1">18.5</font></td>
                    <td align="right"><font size="1">عادي</font></td>
                </tr>


                <tr css="row-content" >
                    <td align="center">9</td>
                    <td align="right"><font size="1">صنايع غذايي پيشرفته</font></td>
                    <td align="center"><font size="1">0</font></td>
                    <td align="center"><font size="1">2</font></td>
                    <td align="center"><font size="1">14.25</font></td>
                    <td align="right"><font size="1">عادي</font></td>
                </tr>


                <tr css="row-content2" >
                    <td align="center">10</td>
                    <td align="right"><font size="1">فرايندهاي غير حرارتي مواد غذايي</font></td>
                    <td align="center"><font size="1">0</font></td>
                    <td align="center"><font size="1">2</font></td>
                    <td align="center"><font size="1">14.0</font></td>
                    <td align="right"><font size="1">عادي</font></td>
                </tr>


                <tr css="row-content" >
                    <td align="center">11</td>
                    <td align="right"><font size="1">ميکروبيولوژي صنعتي</font></td>
                    <td align="center"><font size="1">1</font></td>
                    <td align="center"><font size="1">2</font></td>
                    <td align="center"><font size="1">15.0</font></td>
                    <td align="right"><font size="1">عادي</font></td>
                </tr>

                <tr css="row-content" >
                    <td align="center">12</td>
                    <td align="right"><font size="1">فناوريهاي نوین در بسته بندی مواد غذایی</font></td>
                    <td align="center"><font size="1">0</font></td>
                    <td align="center"><font size="1">2</font></td>
                    <td align="center"><font size="1">14.0</font></td>
                    <td align="right"><font size="1">عادي</font></td>
                </tr>

            </table>


            <table align="center" border="1" title="" width="100%" style="font-family: Tahoma; font-size:8pt; height:30;" dir="rtl" cellpadding="0" cellspacing="0">
                <tr>
                    <td align="right" width="50%" >
                        <font size="1">ترم:</font>

                       <font size="1"> مهر ماه 99</font>
                    </td>
                    <td align="right" width="50%"><font size="1">وضعيت ترم : قبول</font></td>
                </tr>
                <tr>
                    <td align="right" width="50%"><font size="1">ت و انتخابی: 13</font></td>
                    <td align="right" width="50%"><font size="1">امتياز ترم : 191.5</font></td>
                </tr>
                <tr>
                    <td align="right" width="50%"><font size="1">معدل ترم : 14.73</font></td>
                    <td align="right" width="50%"><font size="1">ت و موثر : 13</font></td>
                </tr>
                <tr>
                    <td align="right" colspan="2"><font size="1">وضعيت شهريه: پرداخت كل شهريه</font></td>
                </tr>
            </table>
       </td>






        <td width="20%" align="right" valign="top">

            <table border="1" align="center" width="100%"  arg1="99" style="font-family: Tahoma; font-size:8pt; height:30;" dir="rtl" cellpadding="0" cellspacing="0">
                <tr css="row-header">
                    <td align="center" width="3%"></td>
                    <td align="center" width="95%"><font size="1">نام درس</font></td>
                    <td align="center" width="3%"><font size="1">ع</font></td>
                    <td align="center" width="3%"><font size="1">ت</font></td>
                    <td align="center" width="10%"><font size="1">نمره</font></td>
                    <td align="center" width="3%"><font size="1 px">وضعيت نمره</font></td>
                </tr>




                <tr css="row-content" >
                    <td align="center">13</td>
                    <td align="right"><font size="1">پایان نامه </font></td>
                    <td align="center"><font size="1">6</font></td>
                    <td align="center"><font size="1">0</font></td>
                    <td align="center"><font size="1">0.0</font></td>
                    <td align="right"><font size="1">وارد نشده</font></td>
                </tr>

            </table>


            <table align="center" border="1" title="" width="100%" style="font-family: Tahoma; font-size:8pt; height:30;" dir="rtl" cellpadding="0" cellspacing="0">
                <tr>
                    <td align="right" width="50%" >
                        <font size="1">ترم:</font>

                       <font size="1"> بهمن ماه 99</font>
                    </td>
                    <td align="right" width="50%"><font size="1">وضعيت ترم : ---</font></td>
                </tr>
                <tr>
                    <td align="right" width="50%"><font size="1">ت و انتخابي : 6</font></td>
                    <td align="right" width="50%"><font size="1">امتياز ترم : 0.0</font></td>
                </tr>
                <tr>
                    <td align="right" width="50%"><font size="1">معدل ترم : 0.0</font></td>
                    <td align="right" width="50%"><font size="1">ت و موثر : 0</font></td>
                </tr>
                <tr>
                    <td align="right" colspan="2"><font size="1">وضعيت شهريه: پرداخت  شده</font></td>
                </tr>
            </table>
       </td>



 </table>

   <table width="100%" style="font-family: Tahoma; font-size:7pt; height:30;" dir="rtl" cellpadding="0" cellspacing="0">
        <tr>
            <td><font size="1">تعداد واحد پاس شده کل:
               24</font></td>
            <td><font size="1">تعداد واحد افتاده کل:
               0</font></td>
            <td><font size="1">تعداد واحد موثر کل:
               24</font></td>
            <td><font size="1">تعداد واحد انتخابي کل:
               30</font></td>
            <td><font size="1">جمع کل امتياز:
               378</font></td>
            <td><font size="1">معدل کل:
               15.75</font></td>
            <td><font size="1">تعداد ترم مشروط:
               0</font></td>
            <td><font size="1">تعداد ترم متوالي مشروط:
               0</font></td>
        </tr>
   </table>




</form><script language="javascript">
	function validate_onePageWorkbookForm(){
		return true;
	}
</script>


<script language="javascript">
	function getLanguages(){
		 return new Array(new LanguageModel("EN" , "English" ,"English"), new LanguageModel("FA" , "Persian" ,"Farsi"));
	}

	function handleBodyKeys(){
		var k=window.event.keyCode;
		switch (k){
			case 123:
				changeLanguage();
				break;
		}
	}
	document.body.attachEvent("onkeydown", handleBodyKeys);

</script>
</body>
</html>

<script type="text/javascript">
    function Print(){
       document.all["printer"].click();
    }
</script>
