








<head><title>اطلاع رساني تحصيلي - دانشگاه آزاد اسلامي قزوين</title>
   <link rel="shortcut icon" href="http://cyber4.qiau.ac.ir:80/iau/framework/images//qiau.ico" type="image/x-icon">
</head>

<script language="JavaScript" type="text/javascript">
    //window.history.forward(1);
</script>
<html xmlns="http://www.w3.org/1999/xhtml" lang="fa" xml:lang="fa" dir="rtl">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1256" />
<meta http-equiv="Author" content="FourSun IT Engineers"><title></title>
<link rel="stylesheet" type="text/css" href="http://cyber4.qiau.ac.ir:80/iau/framework/skins/default/default.css" />
<link rel="stylesheet" type="text/css" href="http://cyber4.qiau.ac.ir:80/iau/framework/skins/common.css" />
</head>
<body class="my-body" leftmargin="0" topmargin="0" scroll="yes" bgcolor="#FAF6F5" onload="loadPage()" oncontextMenu="return false;">
<script language="javascript" src="http://cyber4.qiau.ac.ir:80/iau/framework/jscripts/english.js"></script>
<script language="javascript" src="http://cyber4.qiau.ac.ir:80/iau/framework/jscripts/farsi.js"></script>
<script language="javascript" src="http://cyber4.qiau.ac.ir:80/iau/framework/jscripts/html-tag.js"></script>
<script language="javascript" src="http://cyber4.qiau.ac.ir:80/iau/framework/jscripts/general.js"></script>

<script language="javascript" src="http://cyber4.qiau.ac.ir:80/iau/framework/jscripts/languages.js"></script>

<form id="loginForm" method="post" action="/iau/login.d/" class="my-form">
<input type="hidden" name="command" />

<input type="hidden" name="dispatch" />




    <input type="hidden" id="ran" value="vpJTOfJvkfhxOxQQvckk"/>

    <div align="center">

    <table border="0" width="800" height="574" cellspacing="0" cellpadding="0" id="table1" style="background: url('http://cyber4.qiau.ac.ir:80/iau/framework/images//back-login-page.jpg') no-repeat center top; width: 800px" class="my-table">

            <tr>
                <td>
                <div align="center">
                    <table border="0" width="100%" height="100%" cellspacing="0" cellpadding="0" id="table2" dir="rtl" class="my-table">

                        <tr>
                            <td height="192" colspan="5">&nbsp;</td>
                        </tr>

                        <tr>
                            <td height="30" colspan="5" align="center">
                            </td>
                        </tr>

                        <tr>
                            <td height="22" colspan="5">&nbsp;</td>
                        </tr>

                        <tr>
                            <td height="209" width="38">&nbsp;</td>
                            <td height="209" width="386" align="center" valign="top">
                                <table border="0" width="100%" cellspacing="1" cellpadding="1" id="table3" class="my-table">
                                    <tr height="28">
                                        <td colspan="2" align="center">

                                               <br>
                                               <font color="#AD4241" style="font-size:8pt" >

                                                    دانشکده صنايع و مکانيک

                                            </font> <br><br>

                                        </td>

                                    </tr>
                                    <tr height="28">
                                        <td align="left" width="38%">
                                                نام کاربري :
                                        </td>
                                        <td>
                                             <input type="text" name="gthyreyrytr" value="" maxlenght="15" onkeypress="handleKeyPress(event);" id="gthyreyrytr"  mandatory="true" onblur="onTextLostFocus(this);" onfocus="setElementLanguage();onTextFocus(this);deleteLanguage()" def-language="EN" _language="EN" onblur="onTextLostFocus(this);" onfocus="onTextFocus(this);deleteLanguage()" class="text-box" dir="ltr"/>
                                        </td>
                                    </tr>
                                    <input type="hidden" name="rytrhyhryter"/>
                                    <input type="hidden" name="gdfgfdgdfgdg"/>
                                    <tr height="28">
                                        <td align="left">رمز عبور :</td>
                                        <td>
                                             <input type="password" name="hrhryhrjhjh" value="" id="hrhryhrjhjh" onkeypress="handleKeyPress(event);" mandatory="true" onblur="onTextLostFocus(this);" onfocus="setElementLanguage();onTextFocus(this);" _language="EN" onblur="onTextLostFocus(this);" onfocus="onTextFocus(this);" class="text-box" dir="ltr"/>
                                        </td>
                                    </tr>

                                    <tr height="28">
                                        <td>&nbsp;</td>

                                             <td>
                                                <input type="button" value="ورود به سيستم" onmouseover="changeStyle(this, 'command-button-highlight');" onmouseout="changeStyle(this, 'command-button');" form-name="loginForm" onclick="if (post()) if (validateForm(this)) submitForm(this, 'Login');" command="Login" id="cmdLogin" class="command-button" />
                                                <input type="button" value="&#1608;&#1585;&#1608;&#1583; &#1705;&#1575;&#1585;&#1576;&#1585; &#1605;&#1610;&#1607;&#1605;&#1575;&#1606;" onmouseover="changeStyle(this, 'command-button-highlight');" onmouseout="changeStyle(this, 'command-button');" form-name="loginForm" onclick="if (guestFun()) if (validateForm(this)) submitForm(this, 'Login');" command="Login" id="guestLogin" class="command-button" />
                                             </td>

                                    </tr>
                                </table>

                            </td>
                            <td height="209" width="19">&nbsp;</td>
                            <td height="209" width="222" valign="top" align="justify" dir="rtl" style="text-align:justify;">

                                <img src="http://cyber4.qiau.ac.ir:80/iau/framework/images//arrow-login.gif" align="middle"/>
                                <a class="message" style="text-decoration: none" href="loginGuide/loginGuide.html">
                                   راهنماي ورود به سيستم
                                </a>
                                <br>
                                <img src="http://cyber4.qiau.ac.ir:80/iau/framework/images//arrow-login.gif" align="middle"/>
                                <a class="message" style="text-decoration: none" target="_blank" href="http://qiau.ac.ir">
                                   صفحه اصلي وب سايت دانشگاه
                                </a>
                                <br>
                                <img src="http://cyber4.qiau.ac.ir:80/iau/framework/images//arrow-login.gif" align="middle"/>
                                   کاربر  گرامي، جهت ورود اطلاعات ترجيحا از مرورگرهاي فايرفاکس و اکسپلورر استفاده نماييد.
                                <br>
                                <img src="http://cyber4.qiau.ac.ir:80/iau/framework/images//arrow-login.gif" align="middle"/>
                                   نام کاربري براي داوطلبان ورودي جديد شماره داوطلبي ، و براي دانشجويان شماره دانشجويي مي باشد.
                                <br>
                                <img src="http://cyber4.qiau.ac.ir:80/iau/framework/images//arrow-login.gif" align="middle"/>
                                رمز عبور براي داوطلبان ورودي جديد و دانشجويان ، در صورت عدم تغيير آن ، بصورت پيش فرض کدملي مي باشد(بدون خط تيره)

								<br><br>
                                <img src="http://cyber4.qiau.ac.ir:80/iau/framework/images//arrow-login.gif" align="middle"/>
                                <a class="message" style="text-decoration: none" target="_blank" href="http://qiau.ac.ir/index1.aspx?file=/qiauaiq/qiauaiq.html">
                                   ثبت نام از طريق سامانه همراه دانشجويان(کيوک)
                                </a>

                            </td>
                            <td height="209" width="135">&nbsp;</td>
                        </tr>

                        <tr>
                            <td height="33" colspan="5">

                            </td>
                        </tr>

                        <tr>
                            <td height="54" colspan="5" valign="middle" align="center" dir="rtl"></td>
                        </tr>

                        <tr>
                            <td colspan="5" align="center">
                               <font face="Tahoma" style="font-size:8pt" size="1">
                                   کليه حقوق مادي و معنوي اين سايت متعلق به دانشگاه آزاد اسلامي قزوين مي باشد.
                               </font>
                            </td>
                        </tr>

                    </table>
                </div>
                </td>
            </tr>
        </table>
    </div>

    <script language="javascript">
       function submit(e) {
            var evt = e || window.event;
            var key = evt.which || evt.keyCode;
            if (key == 13) {
                if (isIE()){
                    window.event.keyCode = 0;
                    document.all["cmdLogin"].onclick();
                }else{
                    evt.which = 0;
                    document.getElementsById("cmdLogin").onclick();
                }
            }
       }
       //-----------------------------------------------------------------

       //----------------------------------------------------------------
       function guestFun() {
            if(document.all["gthyreyrytr"]){
                //IE
                document.all["gthyreyrytr"].value= "guest";
                document.all["hrhryhrjhjh"].value= "guest";
            }else{
                document.getElementById("gthyreyrytr").value= "guest";
                document.getElementById("hrhryhrjhjh").value= "guest";
            }

           return true;
       }
       //-----------------------------------------------------------------

       //-----------------------------------------------------------------
       function formKeyValidate() {
            history.forward();
       }
       //-----------------------------------------------------------------
       function DisablingBackFunctionality()
       {
            var URL;
            var i ;
            var QryStrValue;
            URL=window.location.href ;
            i=URL.indexOf("?");
            QryStrValue=URL.substring(i+1);
            if (QryStrValue!='X')
            {
                window.location=URL + "?X";
            }
       }
       //-----------------------------------------------------------------
        function deleteLanguage(){
         var lang = "EN";
         setCookie("language",lang);
       }
       //-----------------------------------------------------------------
       function loadPage(){
           domainUrl=window.location.href ;
           document.all["hrhryhrjhjh"].setAttribute("autocomplete","off");
           document.all["gthyreyrytr"].setAttribute("autocomplete","off");
       }
       //-----------------------------------------------------------------
       </script>
    </form>
<script type="text/javascript">
  var focusControl = document.forms["loginForm"].elements["gthyreyrytr"];

  if (focusControl.type != "hidden" && !focusControl.disabled) {
     focusControl.focus();
  }
</script>
<script language="javascript">
	function validate_loginForm(){
		return true;
	}
</script>

<script language="javascript">
	function getLanguages(){
		 return new Array(new LanguageModel("EN" , "English" ,"English"), new LanguageModel("FA" , "Persian" ,"Farsi"));
	}

	function handleBodyKeys(){
		var k=window.event.keyCode;
		switch (k){
			case 123:
				changeLanguage();
				break;
		}
	}
	document.body.attachEvent("onkeydown", handleBodyKeys);

</script>
</body>
</html>
